*{
    margin: 0;
}
header{
    padding: 20px;
    position:fixed;
    display: flex;
    top:0;
    justify-content: space-evenly;
    z-index:2;
    align-items:right;
    width:100%;
    background-color: rgba(234, 241, 233, 0.315);
    backdrop-filter: blur(3px);
    box-shadow: inset 2px 1px 10px 8px rgba(253, 249, 249, 0.418);
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:right;
    margin:auto;
    width:50%;
    margin-right: 30px;
    padding-right: 30px;
    

}
li {
    padding: 10px;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: right;
    color: rgb(10, 0, 0);
    border: 3px solid rgba(0, 6, 1, 0.895);
    padding: 5px;
    border-radius: 10px;
    animation-duration: 1ms;
}
a:hover{
    /* zoom: 1.04; */
    transform: scale(1.2);
}
.back{
    position:fixed;
    width: 100%;
    height: 100%;
    background-image: url(./images/landpageing.gif);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:1
}
h1{
    width:50%;
    color: rgb(11, 7, 1);
}
.a1 {
    animation-name: left-to-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;


}
@keyframes left-to-right {
    from{
        margin-left: -300px;
    }
    to{
        margin: 0px;
    }
    
}